# ATMS 523
## Module 4 Lecture 2

### Using a Web API to obtain data

This example shows you how to use a web API to obtain data from NCEI.  It is the same dataset we obtained within Module 3, but here we are making small calls to get only the data we want.

In [3]:
#needed to make web requests
import requests

#store the data we get as a dataframe
import pandas as pd

#convert the response as a strcuctured json
import json

#mathematical operations on lists
import numpy as np

#parse the datetimes we get from NOAA
from datetime import datetime

#import time for sleeping
import time

#add the access token you got from NOAA # this is snesbitt's so don't mess with it!
Token = 'iMROKGHPFcqWzeeBVkHoODcIRLGwdhtg'

#Enter data type and station ID from inventory - here is GHCND https://www.ncei.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt
station_id = 'GHCND:USC00118740'

In [4]:
#initialize lists to store data
dates_mintemp = []
dates_maxtemp = []
dates_precip = []
min_temps = []
max_temps = []
precip = []

#for each year from 1905-2022 where we know we have data inventory ...
for year in range(1905, 2023):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TMIN&datatypeid=TMAX&datatypeid=PRCP&limit=1000&stationid='+station_id+'&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    

    #get all items in the response which are max&min temperature readings
    maxtemps = [item for item in d['results'] if item['datatype']=='TMAX']
    mintemps = [item for item in d['results'] if item['datatype']=='TMIN']
    precips = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average temperature readings
    dates_maxtemp += [item['date'] for item in maxtemps]
    dates_mintemp += [item['date'] for item in mintemps]
    dates_precip += [item['date'] for item in precips]
    #get the actual temperature from the returned data
    max_temps += [item['value'] for item in maxtemps]
    min_temps += [item['value'] for item in mintemps]
    precip += [item['value'] for item in precips]
    time.sleep(0.2) # API max 5 requests per second

working on year 1905
working on year 1906
working on year 1907
working on year 1908
working on year 1909
working on year 1910
working on year 1911
working on year 1912
working on year 1913
working on year 1914
working on year 1915
working on year 1916
working on year 1917
working on year 1918
working on year 1919
working on year 1920
working on year 1921
working on year 1922
working on year 1923
working on year 1924
working on year 1925
working on year 1926
working on year 1927
working on year 1928
working on year 1929
working on year 1930
working on year 1931
working on year 1932
working on year 1933
working on year 1934
working on year 1935
working on year 1936
working on year 1937
working on year 1938
working on year 1939
working on year 1940
working on year 1941
working on year 1942
working on year 1943
working on year 1944
working on year 1945
working on year 1946
working on year 1947
working on year 1948
working on year 1949
working on year 1950
working on year 1951
working on year 1952
working on year 1953
working on year 1954
working on year 1955
working on year 1956
working on year 1957
working on year 1958
working on year 1959
working on year 1960
working on year 1961
working on year 1962
working on year 1963
working on year 1964
working on year 1965
working on year 1966
working on year 1967
working on year 1968
working on year 1969
working on year 1970
working on year 1971
working on year 1972
working on year 1973
working on year 1974
working on year 1975
working on year 1976
working on year 1977
working on year 1978
working on year 1979
working on year 1980
working on year 1981
working on year 1982
working on year 1983
working on year 1984
working on year 1985
working on year 1986
working on year 1987
working on year 1988
working on year 1989
working on year 1990
working on year 1991
working on year 1992
working on year 1993
working on year 1994
working on year 1995
working on year 1996
working on year 1997
working on year 1998
working on year 1999
working on year 2000
working on year 2001
working on year 2002
working on year 2003
working on year 2004
working on year 2005
working on year 2006
working on year 2007
working on year 2008
working on year 2009
working on year 2010
working on year 2011
working on year 2012
working on year 2013
working on year 2014
working on year 2015
working on year 2016
working on year 2017
working on year 2018
working on year 2019
working on year 2020
working on year 2021
working on year 2022

In [5]:
#initialize dataframe
df_temp_min = pd.DataFrame()
df_temp_max = pd.DataFrame()
df_precip = pd.DataFrame()

#populate date and min and max temperature & precip fields (convert string date to datetime)
df_temp_min['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_mintemp]
df_temp_min['minTemp'] = [float(v)/10.0 for v in min_temps]

df_temp_max['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_maxtemp]
df_temp_max['maxTemp'] = [float(v)/10.0 for v in max_temps]

df_precip['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_precip]
df_precip['precip'] = [float(v)/10.0 for v in precip]

In [6]:
#merge the dataframes
newdf_all = pd.merge(df_temp_max,df_temp_min, left_index=True, right_index=True)
newdf_all = pd.merge(newdf_all, df_precip, left_index=True, right_index=True)
newdf_all.drop(columns = ['date_x', 'date_y'], inplace=True)
newdf_all = newdf_all.set_index('date')

In [7]:
newdf_all

            maxTemp  minTemp  precip
date
1905-01-01     14.4      1.7     0.0
1905-01-02      8.3     -5.0     4.8
1905-01-03     -3.9     -9.4     0.0
1905-01-04     -3.9    -14.4     0.0
1905-01-05      1.1    -14.4     0.0
...             ...      ...     ...
2022-07-28      0.0      0.6     0.5
2022-07-29      2.8     -5.0     0.0
2022-07-30     11.1     -2.8     0.0
2022-07-31     14.4      3.9     0.0
2022-08-01     16.7      1.7     6.9

[39291 rows x 3 columns]